* {
  box-sizing: border-box;
  max-width: 100%;
  /* border: 1px solid grey; */
}

body {
  background-color: black;
}

.App {
  display: flex;
  flex-flow: column;
  align-items: center;
  color: lightgreen;
  margin-top: 3%;
}

.scores-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 80%;
  margin: 2%;
  border: 2px solid lightgreen;
  border-style: groove;
  border-radius: 5%;
}

.console-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 1%;
}

.ge-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 1%;
}

.console-playstation {
  display: flex;
  flex-flow: column;
  width: 15%;
  margin: 5%;
  text-align: center;
  color: blue;

}

.console-xbox {
  display: flex;
  flex-flow: column;
  width: 15%;
  margin: 5%;
  text-align: center;
  color: green;
}

.console-nintendo {
  display: flex;
  flex-flow: column;
  width: 15%;
  margin: 5%;
  text-align: center;
  color: red;
}

.console-steam {
  display: flex;
  flex-flow: column;
  width: 15%;
  margin: 5%;
  text-align: center;
  color: grey;
}

.console-ge {
  display: flex;
  flex-flow: column;
  width: 15%;
  margin: 5%;
  text-align: center;
}

.console-score-playstation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  height: 15vh;
  border-top: 1px solid blue;
  border-radius: 50%;
}

.console-score-xbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  height: 15vh;
  border-top: 1px solid green;
  border-radius: 50%;
}

.console-score-nintendo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  height: 15vh;
  border-top: 1px solid red;
  border-radius: 50%;
}

.console-score-steam {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  height: 15vh;
  border-top: 1px solid grey;
  border-radius: 50%;
}

.console-score-ge {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  height: 15vh;
  border-top: 1px solid lightgreen;
  border-radius: 50%;
}

span {
  font-size: 2rem;
  /* color: lightgreen; */
}

h3 {
  text-decoration: underline;
}
